.duvidas-main{
    padding: 25px;
    text-align: center;

    background-color: #111;
}
.duvidas-title{
    margin-bottom: 20px;
}
.duvidas-items{
    text-align: left;
}

@media only screen and (min-width: 750px){
    .duvidas-main{
        padding: 25px 150px;
    }
}